# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

*.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml

.project

.classpath

storage/1aRTMh2H6xT2zo8tao5kSqY34RyBhnvwH59bSjrmxI-tcp1270011883/.lck
